.swal2-title{
    color: #dc2929 !important;
    font-size: 1.55em !important;
}

.swal2-styled.swal2-confirm{
    background-color: #dc332f !important;
}

.swal2-actions{
    button{
        width: 100% !important;
        text-transform: uppercase;
        font-size: 1.5rem !important;
    }
}