.v-autocomplete {
  position: relative;
}
.v-autocomplete .v-autocomplete-list {
  position: absolute;
}
.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item {
  cursor: pointer;
}
.v-autocomplete
  .v-autocomplete-list
  .v-autocomplete-list-item.v-autocomplete-item-active {
  background-color: #f3f6fa;
}
.v-autocomplete{
.v-autocomplete-input-group{
.v-autocomplete-input{
         display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #4a90e2;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    &.v-autocomplete-selected{
        .v-autocomplete-input{

        color: "green";
        background-color : #f2fff2
        }
    }
      
  }
}
  .v-autocomplete-list{
    z-index: 99;
    width: 100%;
    text-align: left;
    border: none;
    border-top: none;
    max-height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #4a90e2;
    .v-autocomplete-list-item{
      cursor: pointer;
      background-color: #fff;
      padding: 10px;
      border: 1px solid #4a90e2;
    }
      &:last-child{
        border-bottom: none;
      }
      &:hover{
        background-color: #eee;
      }
      abbr{
        opacity: 0.8;
        font-size:0.8em;
        display: block;
        font-family: sans-serif;
    }
}